<!DOCTYPE html>
<html>
<head>
<title>Terms and Conditions</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

<div class="max-w-4xl mx-auto p-10 bg-white mt-10 rounded shadow">

<h1 class="text-4xl font-bold mb-6">Terms & Conditions</h1>

<p class="mb">By accessing and using this website, you agree to the following terms
and conditions.</br><p class="mb">

Product Information
<br>We strive to ensure all product descriptions and images are accurate.
However, slight variations in color may occur due to screen settings.

</br><p class="mb">Orders and Payments</br>
All orders are subject to product availability.Payments must be 
completed before orders are processed and shipped.

</br><p class="mb">Shipping</br>Delivery times may vary depending on location and courier services.

<br><p class="mb">Returns and Refunds</br>
Customers can request returns or exchanges for damaged or defective 
products within 7 days of delivery.</br>
<p class="mb">
Intellectual Property
</br>All content on this website including images, text, and logos
belongs to PENDA QUEEN and may not be copied or used without permission.</br><p class="mb">

Changes to Terms
We reserve the right to update these terms at any time without
prior notice.</br></div>

</body>
</html>